<div class="example ">

    <div class="tab-content rounded-bottom">
        <div class="tab-pane active show p-3 preview fade">

            <div class="row">
                <div class="col-6 mb-3">
                  <h2><strong> Manage Users</strong></h2>
              
                </div>
                <div class="col-6 mt-3">
                  <c-input-group>
                    <input aria-label="Search"
                           cFormControl
                           placeholder="Search"
                    />
                    
                    <button cButton color="dark" type="button" variant="outline" (click)="openUserModal()">
                      <svg [cIcon]="icons.cilPlus"  title="Plus Icon"></svg> New User 
                    </button>
                  </c-input-group>
                </div>
              
              </div>
            <table cTable>
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">email</th>
                        <th scope="col">Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto@otto.com</td>
                        <td>Admin</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton@otto.com</td>
                        <td>User</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<c-modal id="UserModal" [visible]="visible" (visibleChange)="handleUserModalVisbilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>New User</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>New User form Here</c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>