<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">

        <div class="card  mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white "><strong>{{ 'doorsComp.manageDoors' | translate }}</strong></div>
            <c-breadcrumb>
              <c-breadcrumb-item url="/">{{ 'menu.home' | translate }}</c-breadcrumb-item>
              <c-breadcrumb-item [active]="true">{{ 'menu.doors' | translate }}</c-breadcrumb-item>
            </c-breadcrumb>
          </div>
          <div class="card-body">

            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="Search" cFormControl placeholder="{{ 'doorsComp.search' | translate }}" />

                      <button cButton color="dark" type="button" variant="outline" (click)="openDoorModal()">
                        <svg [cIcon]="icons.cilPlus" title="{{ 'doorsComp.plusIcon' | translate }}"></svg> {{
                        'doorsComp.newDoor' | translate }}
                      </button>
                    </c-input-group>
                  </div>

                </div>
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'doorsComp.name' | translate }}</th>
                      <th scope="col">{{ 'doorsComp.department' | translate }}</th>

                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let door of doors; let i = index">
                      <th scope="row">{{i + 1 }}</th>
                      <td>{{door.nameGate}}</td>
                      <td>{{door.departmentGate.nameDepartment}}</td>

                      <td style="text-align:center;">
                        <button type="button" cButton color="light" (click)="detailDoor(door)">
                          <svg [cIcon]="icons.cilInfo" width="15"
                            title="{{ 'doorsComp.detailIcon' | translate }}"></svg>

                          </button> &nbsp;
                        <button type="button" cButton color="light" (click)="editDoor(door)">
                          <svg [cIcon]="icons.cilPencil" width="15" title="{{ 'doorsComp.pencilIcon' | translate }}"></svg>

                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="openModalDelete(door)">
                          <svg [cIcon]="icons.cilTrash" width="15"
                            title="{{ 'doorsComp.trashIcon' | translate }}"></svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>


          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>

<c-modal id="DoorModal" [visible]="visible" size="lg" (visibleChange)="handleDoorModalVisbilityChange($event)">
  <c-modal-header>
    <h5 cModalTitle *ngIf="!isEditMode">{{ 'doorsComp.newDoor' | translate }}</h5>
    <h5 cModalTitle *ngIf="isEditMode">{{ 'doorsComp.editDoor' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="doorForm" class="form-horizontal">

      <div class="form-group row mb-3">
        <label for="name" class="col-md-3 col-form-label">{{ 'doorsComp.name' | translate }}</label>
        <div class="col-md-9">
          <input type="text" class="form-control" cFormControl formControlName="nameGate" id="nameGate"
            placeholder="{{ 'doorsComp.namePlaceholder' | translate }}">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.department' | translate }}</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="departmentGate">
            <option *ngFor="let department of departments" [value]="department._id">{{department.nameDepartment}}
            </option>
          </select>
        </div>
      </div>
      <h5>{{ 'doorsComp.devicesConfiguration' | translate }}</h5>
      <br>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.waveShare' | translate }}</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="waveShare">
            <option *ngFor="let waveShare of waveShares" [value]="waveShare._id">{{waveShare.nameWaveShare}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <h6>{{ 'doorsComp.entryDevices' | translate }}</h6>
        </div>
        <div class="col-6">
          <h6>{{ 'doorsComp.exitDevices' | translate }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group row mb-3">
            <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.camera' | translate }}</label>
            <div class="col-md-9">
              <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="cameraEntry">
                <option *ngFor="let camera of cameras" [value]="camera._id">{{camera.nameCamera}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.reader' | translate }}</label>
            <div class="col-md-9">
              <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="readerEntry">
                <option *ngFor="let reader of readers" [value]="reader._id">{{reader.nameReader}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group row mb-3">
            <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.camera' | translate }}</label>
            <div class="col-md-9">
              <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="cameraExit">

                <option *ngFor="let camera of cameras" [value]="camera._id">{{camera.nameCamera}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="cameras" class="col-md-3 col-form-label">{{ 'doorsComp.reader' | translate }}</label>
            <div class="col-md-9">
              <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="readerExit">
                <option *ngFor="let reader of readers" [value]="reader._id">{{reader.nameReader}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">
      {{ 'doorsComp.close' | translate }}
    </button>
    <button *ngIf="!isEditMode" (click)="submitDoorModal()" cButton color="primary">{{ 'doorsComp.submit' | translate }}</button>
    <button *ngIf="isEditMode" (click)="submitEditDoor()" cButton color="primary">{{ 'doorsComp.submit' | translate }}</button>
  </c-modal-footer>
</c-modal>



<c-modal id="viewDoorDetailsModal" [visible]="viewModalVisible">
  <c-modal-header>
    <h5 cModalTitle>{{ 'doorsComp.doorDetails' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container" *ngIf="selectedDoor">
      <div class="row">
        <div class="col-sm-12">
          <p><strong>{{ 'doorsComp.name' | translate }}:</strong> {{ selectedDoor.nameGate}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>{{ 'doorsComp.department' | translate }}: </strong> <span>{{
              selectedDoor.departmentGate.nameDepartment}} </span></p>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>{{ 'doorsComp.waveShare' | translate }}:</strong> {{ selectedDoor.waveShare.nameWaveShare}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label><strong>{{ 'doorsComp.entryDevices' | translate }}</strong></label>
          <ul>
            <li>Camera: {{ selectedDoor.entryDevices.camera.nameCamera}}</li>
            <li>Reader: {{ selectedDoor.entryDevices.reader.nameReader}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label><strong>{{ 'doorsComp.exitDevices' | translate }}</strong></label>
          <ul>
            <li>Camera: {{ selectedDoor.exitDevices.camera.nameCamera}}</li>
            <li>Reader: {{ selectedDoor.exitDevices.reader.nameReader}}</li>
          </ul>
        </div>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">
      {{ 'doorsComp.close' | translate }}
    </button>
  </c-modal-footer>
</c-modal>


<c-modal id="viewDoorDeleteModal" [visible]="viewModalDeleteVisible">
  <c-modal-header>
    <h5 cModalTitle>{{ 'doorsComp.deleteConfirmation' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <div class="container">
      <h5>{{ 'doorsComp.areYouSureDelete' | translate }}</h5>
    </div>

  </c-modal-body>
  <c-modal-footer>
    <button size="lg" class="float-left" (click)="viewModalDeleteVisible = false" cButton color="secondary">
      {{ 'doorsComp.no' | translate }}
    </button>
    <button size="lg" class="float-right" (click)="deleteDoor()" cButton color="danger">
      {{ 'doorsComp.yes' | translate }}
    </button>
  </c-modal-footer>
</c-modal>