<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">

        <div class="card  mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white "><strong>Manage Doors</strong></div>
            <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
          </div>
          <div class="card-body">

            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">

                <div class="row">
                  <div class="col-6">


                  </div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="Search" cFormControl placeholder="Search" />

                      <button cButton color="dark" type="button" variant="outline" (click)="openDoorModal()">
                        <svg [cIcon]="icons.cilPlus" title="Plus Icon"></svg> New Door
                      </button>
                    </c-input-group>
                  </div>

                </div>
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                      <th scope="col">Department</th>

                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let door of doors">
                      <th scope="row">{{door.id}}</th>
                      <td>{{door.name}}</td>
                      <td>{{door.description}}</td>
                      <!-- <td>{{door.department.name}}</td> -->
                      <td>{{door.departmentId}}</td>

                      <td style="text-align:center;">
                        <button type="button" cButton color="light" (click)="detailDoor(door)">
                          <svg [cIcon]="icons.cilInfo" width="15" title="detail Icon"></svg>

                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="editDoor(door)">
                          <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="openModalDelete(door)">
                          <svg [cIcon]="icons.cilTrash" width="15" title="Trash bin Icon"></svg>
                        </button>
                      </td>
                  </tbody>
                </table>
              </div>

            </div>


          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>

<c-modal id="DoorModal" [visible]="visible" size="lg" (visibleChange)="handleDoorModalVisbilityChange($event)">
  <c-modal-header>
    <h5 cModalTitle>New Door</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="doorForm" class="form-horizontal">

      <div class="form-group row mb-3">
        <label for="name" class="col-md-3 col-form-label">Name</label>
        <div class="col-md-9">
          <input type="text" class="form-control" cFormControl formControlName="name" id="name" placeholder="Name">
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">Department</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="departmentId" placeholder="Cameras">
            <option *ngFor="let department of departments">{{department.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">Cameras</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="departmentId" placeholder="Cameras">
            <option *ngFor="let camera of cameras">{{camera.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">Readers</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="departmentId" placeholder="Cameras">
            <option *ngFor="let reader of readers">{{reader.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="cameras" class="col-md-3 col-form-label">Wave Share</label>
        <div class="col-md-9">
          <select cSelect id="inputGroupSelect01" class="form-control" cFormControl formControlName="departmentId" placeholder="Cameras">
            <option *ngFor="let waveShare of waveShares">{{waveShare.name}}</option>
          </select>
        </div>
      </div>
      

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">
      Close
    </button>
    <button (click)="cancel()" cButton color="primary">Submit</button>
  </c-modal-footer>
</c-modal>

<c-modal id="viewDoorDetailsModal" [visible]="viewModalVisible">
  <c-modal-header>
    <h5 cModalTitle>Door details</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <div class="container" *ngIf="selectedDoor">
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Name:</strong> {{ selectedDoor.name}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Department:</strong> <span >department 1 </span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Cameras:</strong> <span *ngFor="let camera of selectedDoor.cameras">{{camera.name}},</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Readers:</strong> <span *ngFor="let reader of selectedDoor.readers">{{reader.name}},</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>Wave Share:</strong> {{ selectedDoor.waveShare.name}}</p>
        </div>
      </div>
    </div>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">
      Close
    </button>
  </c-modal-footer>
</c-modal>


<c-modal id="viewDoorDeleteModal" [visible]="viewModalDeleteVisible">
  <c-modal-header>
    <h5 cModalTitle>Delete Confirmation</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <div class="container">
      <h5>Are you sure you want to delete?</h5>
    </div>

  </c-modal-body>
  <c-modal-footer>
    <button size="lg" class="float-left" (click)="viewModalDeleteVisible = false" cButton color="secondary">
      No
    </button>
    <button size="lg" class="float-right" (click)="cancel()" cButton color="danger">
      Yes
    </button>
  </c-modal-footer>
</c-modal>