

<div class="example ">

    <div class="tab-content rounded-bottom">
        <div class="tab-pane active show p-3 preview fade">

            <h2 style="float:left"><strong> Manage Doors</strong></h2>
            <button cButton type="button" style="float:right"  color="dark"  (click)="openDoorModal()">
                <svg [cIcon]="icons.cilPlus" width="16" title="Plus Icon"></svg>
                <strong> Add Door</strong>
            </button>
<h1>&nbsp;</h1>
            <table cTable>
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Department</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Door 1</td>
                        <td>Department 2 </td>
                        <td style="text-align:center;">
                            <button type="button" cButton color="light" (click)="deleteDoor(1)">
                                <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                            </button> &nbsp;
                            <button type="button"cButton color="light"
                                >
                                <svg [cIcon]="icons.cilTrash" width="15" title="Trash bin Icon"></svg>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Door 2</td>
                        <td>Department 3 </td>
                        <td style="text-align:center;">
                            <button type="button" cButton color="light" (click)="deleteDoor(1)">
                                <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                            </button> &nbsp;
                            <button type="button"cButton color="light"
                                >
                                <svg [cIcon]="icons.cilTrash" width="15" title="Trash bin Icon"></svg>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Door 3</td>
                        <td>Department 1</td>
                        <td style="text-align:center;">
                            <button type="button" cButton color="light" (click)="deleteDoor(1)">
                                <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                            </button> &nbsp;
                            <button type="button"cButton color="light"
                                >
                                <svg [cIcon]="icons.cilTrash" width="15" title="Trash bin Icon"></svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- </c-card-body>
        </c-card>
    </c-col>
</c-row> -->

<c-modal id="DoorModal" [visible]="visible" (visibleChange)="handleDoorModalVisbilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>New Door</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>New Door form Here</c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>