<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">

        <div class="card  mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white "><strong>Manage Cameras</strong></div>
            <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
          </div>
          <div class="card-body">

            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">

                <div class="row">
                  <div class="col-6">


                  </div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="Search" cFormControl placeholder="Search" />

                      <button cButton color="dark" type="button" variant="outline" (click)="openCameraModal()">
                        <svg [cIcon]="icons.cilPlus" title="Plus Icon"></svg> New Camera
                      </button>
                    </c-input-group>
                  </div>

                </div>
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">IP Address</th>
                      <th scope="col">Serial Number</th>
                      <th scope="col">Door</th>
                      <th scope="col"></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cam of cameras">
                      <th scope="row">{{ cam.id }}</th>
                      <td>{{ cam.name }}</td>
                      <td>{{ cam.ipAddress }}</td>
                      <td>{{ cam.serialNumber }}</td>
                      <td>Door {{ cam.doorId }}</td>
                      <td style="text-align:center;">
                        <button type="button" cButton (click)="openViewCameraDetailsModal(cam)" color="light">
                          <svg [cIcon]="icons.cilInfo" width="15" title="detail Icon"></svg>

                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="openCameraModal(cam)">
                          <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="camera = cam"
                          [cModalToggle]="deleteCamera.id">
                          <svg [cIcon]="icons.cilTrash" width="15" title="Trash bin Icon"></svg>
                        </button>
                      </td>

                    </tr>

                  </tbody>
                </table>

              </div>

            </div>


          </div>
        </div>
      </div>
        </c-col>
      </c-row>
      </c-container>


  <c-modal #deleteCamera id="deleteCamera">
    <c-modal-header>
      <h5 cModalTitle>Delete Confirmation</h5>
      <button [cModalToggle]="deleteCamera.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <p class="fw-semibold">Are you sure you want to delete this Camera? This action cannot be undone.</p>
      <p><strong> {{camera.name }} </strong></p>
    </c-modal-body>

    <c-modal-footer>
      <button [cModalToggle]="deleteCamera.id" cButton color="secondary">
        Close
      </button>
      <button (click)="cancel()" class="text-white" cButton color="danger">Confirm</button>
    </c-modal-footer>
  </c-modal>


  <c-modal id="upsertCameraModal" size="lg" [visible]="upsertModalVisible">
    <c-modal-header>
      <h5 cModalTitle>New Camera</h5>
      <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <form [formGroup]="cameraForm" class="form-horizontal">
        <div class="form-group row mb-3">
          <label for="ipAddress" class="col-md-3 col-form-label">IP Address</label>
          <div class="col-md-9">
            <input type="text" class="form-control" cFormControl formControlName="ipAddress" id="ipAddress"
              placeholder="IP Address">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="serialNumber" class="col-md-3 col-form-label">Serial Number</label>
          <div class="col-md-9">
            <input type="text" class="form-control" cFormControl formControlName="serialNumber" id="serialNumber"
              placeholder="Serial Number">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="name" class="col-md-3 col-form-label">Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" cFormControl formControlName="name" id="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="doorId" class="col-md-3 col-form-label">Door ID</label>
          <div class="col-md-9">
            <input type="number" class="form-control" cFormControl formControlName="doorId" id="doorId"
              placeholder="Door ID">
          </div>
        </div>
      </form>

    </c-modal-body>
    <c-modal-footer>
      <button (click)="cancel()" cButton color="secondary">
        Close
      </button>
      <button (click)="updateCamera()" cButton color="primary">Submit</button>
    </c-modal-footer>
  </c-modal>

  <c-modal id="viewCameraDetailsModal" [visible]="viewModalVisible">
    <c-modal-header>
      <h5 cModalTitle>Camera details</h5>
      <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Name:</strong> {{ camera.name }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>IP Address:</strong> {{ camera.ipAddress }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Serial Number:</strong> {{ camera.serialNumber }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Door:</strong> Door {{ camera.doorId }}</p>
          </div>
        </div>
      </div>

    </c-modal-body>
    <c-modal-footer>
      <button (click)="cancel()" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
