<!-- Manage Cameras Component HTML -->
<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">
        <div class="card  mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white "><strong>{{ 'cameras.manageCameras' | translate }}</strong></div>
            <c-breadcrumb>
              <c-breadcrumb-item url="/">{{ 'menu.home' | translate }}</c-breadcrumb-item>
              <c-breadcrumb-item [active]="true">{{ 'menu.cameras' | translate }}</c-breadcrumb-item>
            </c-breadcrumb>
                    </div>
          <div class="card-body">
            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="Search" cFormControl placeholder="{{ 'cameras.search' | translate }}" />
                      <button cButton color="dark" type="button" variant="outline" (click)="isEditMode = false; openCameraModal()">
                        <svg [cIcon]="icons.cilPlus" title="Plus Icon"></svg> {{ 'cameras.newCamera' | translate }}
                      </button>
                    </c-input-group>
                  </div>
                </div>
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'cameras.serialNumber' | translate }}</th>
                      <th scope="col">{{ 'cameras.gate' | translate }}</th>
                      <th scope="col">{{ 'cameras.status' | translate }}</th> <!-- Add this line -->
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let cam of cameras; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ cam.serialNumber }}</td>
                      <td>{{ cam.gate?.nameGate ? cam.gate.nameGate : 'Undefined Gate' }}</td>
                      <td>
                        <span
                          [ngClass]="{'badge': true, 'bg-success': cam.status === '1', 'bg-danger': cam.status === '0'}">
                          {{ cam.status === '1' ? 'Online' : 'Offline' }}
                        </span>
                      </td> <!-- Status Field -->
                      <td style="text-align:center;">
                        <button type="button" cButton (click)="openViewCameraDetailsModal(cam)" color="light">
                          <svg [cIcon]="icons.cilInfo" width="15" title="Detail Icon"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="isEditMode = true; openCameraModal(cam)">
                          <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="camera = cam" [cModalToggle]="deleteCamera.id">
                          <svg [cIcon]="icons.cilTrash" width="15" title="Trash Bin Icon"></svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>

<!-- Delete Camera Modal -->
<c-modal #deleteCamera id="deleteCamera">
  <c-modal-header>
    <h5 cModalTitle>{{ 'cameras.confirmDelete' | translate }}</h5>
    <button [cModalToggle]="deleteCamera.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <p class="fw-semibold">{{ 'cameras.deleteCameraConfirmation' | translate }}</p>
    <p><strong>{{ camera.serialNumber }}</strong></p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="deleteCamera.id" cButton color="secondary">{{ 'cameras.close' | translate }}</button>
    <button (click)="confirmDeleteCamera(camera._id)" [cModalToggle]="deleteCamera.id" class="text-white" cButton color="danger">{{ 'cameras.confirm' | translate }}</button>
  </c-modal-footer>
</c-modal>

<!-- Upsert Camera Modal -->
<c-modal id="upsertCameraModal" size="lg" [visible]="upsertModalVisible">
  <c-modal-header>
    <h5 cModalTitle *ngIf="!isEditMode">{{ 'cameras.newCamera' | translate }}</h5>
    <h5 cModalTitle *ngIf="isEditMode">{{ 'cameras.editCamera' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="cameraForm" class="form-horizontal">
      <div class="form-group row mb-3">
        <label for="serialNumber" class="col-md-3 col-form-label">{{ 'cameras.serialNumber' | translate }}</label>
        <div class="col-md-9">
          <input type="text" class="form-control" cFormControl formControlName="serialNumber" id="serialNumber" placeholder="{{ 'cameras.serialNumber' | translate }}">
        </div>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">{{ 'cameras.close' | translate }}</button>
    <button *ngIf="isEditMode" (click)="updateCamera(camera._id)" cButton color="primary">{{ 'cameras.submit' | translate }}</button>
    <button *ngIf="!isEditMode" (click)="newCamera()" cButton color="primary">{{ 'cameras.submit' | translate }}</button>
  </c-modal-footer>
</c-modal>

<!-- View Camera Details Modal -->
<c-modal id="viewCameraDetailsModal" [visible]="viewModalVisible">
  <c-modal-header>
    <h5 cModalTitle>{{ 'cameras.cameraDetails' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p><strong>{{ 'cameras.serialNumber' | translate }}:</strong> {{ camera.serialNumber }}</p>
        </div>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">{{ 'cameras.close' | translate }}</button>
  </c-modal-footer>
</c-modal>
