<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <c-card-header>
                <strong>Manage Cameras</strong> <small></small>
            </c-card-header>
            <c-card-body>
                
                <div class="example mb-3">

                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane active show p-3 preview fade">
                            <table cTable>
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">IP Address</th>
                                        <th scope="col">Serial Number</th>
                                        <th scope="col">Door</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Camera 1</td>
                                        <td>172.53.3.5</td>
                                        <td>N552854AG654654</td>
                                        <td>Door 1</td>
                                        <td></td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Camera 2</td>
                                        <td>172.53.3.6</td>
                                        <td>N552854AG654657</td>
                                        <td>Door 2</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Camera 3</td>
                                        <td>172.53.3.7</td>
                                        <td>N552854AG654670</td>
                                        <td>Door 3</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>