<c-container fluid>
    <c-row>
        <c-col lg="12">
            <div class="example">

                <div class="card  mt-4 mb-2">
                    <div class="card-header bg-white">
                        <c-breadcrumb>
                            <c-breadcrumb-item url="/">{{ 'menu.home' | translate }}</c-breadcrumb-item>
                            <c-breadcrumb-item [active]="true">{{ 'menu.deviceStatus' | translate }}</c-breadcrumb-item>
                          </c-breadcrumb>
                                            </div>
                    <div class="card-body">

                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane active show p-3 preview fade">

                                <div class="row">
                                    <div class="col-6">
                                        <c-input-group>
                                            <button cButton color="dark" type="button" variant="outline" >
                                                <svg [cIcon]="icons.cilClearAll" title="{{ 'deviceStatus.export' | translate }}"></svg> {{ 'deviceStatus.export' | translate }}
                                              </button>                  
                                           
                                          </c-input-group>
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-md-3 col-xs-1 mb-3 d-flex justify-content-end">
                                      <c-input-group>
                                        <button cButton color="dark" style="margin-left: auto;" type="button" variant="outline" >
                                            <svg [cIcon]="icons.cilX" title="{{ 'deviceStatus.clear' | translate }}"></svg> {{ 'deviceStatus.clear' | translate }}
                                          </button>                  
                                        <button cButton color="dark" type="button" variant="outline" >
                                          <svg [cIcon]="icons.cilMediaPause" title="{{ 'deviceStatus.pause' | translate }}"></svg> {{ 'deviceStatus.pause' | translate }}
                                        </button>
                                      </c-input-group>
                                    </div>
                  
                                  </div>

                                <table cTable>
                                    <thead class="table-dark logs">
                                        <tr>
                                            <th scope="col">{{ 'deviceStatus.deviceName' | translate }}</th>
                                            <th scope="col">{{ 'deviceStatus.status' | translate }}</th>
                                            <th scope="col">{{ 'deviceStatus.alarm' | translate }}</th>
                                            <th scope="col">{{ 'deviceStatus.lastEvent' | translate }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr *ngFor="let drs of deviceStatuses">
                                            <th class="log-level" scope="row">{{drs.deviceName}}</th>
                                            <td>{{drs.deviceStatus}}</td>
                                            <td>
                                                {{drs.Alarm}}
                                            </td>
                                            <td>
                                                {{drs.lastEvent}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </c-col>
    </c-row>
</c-container>
