<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="sidebar sidebar-dark sidebar-fixed bg-dark-gradient"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/images/limeslock-logo-blanc.png',
      width: 200,
      alt: 'LimesLock Logo'
    }"
    [brandNarrow]="{
      src: 'assets/images/limeslock-logo-blanc.png',
      width: 46,
      height: 46,
      alt: 'LimesLock Logo'
    }"
    routerLink="./"
  >
  </c-sidebar-brand>
    <perfect-scrollbar [config]="perfectScrollbarConfig">
  <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
  <c-sidebar-nav
    [navItems]="navItems"
    dropdownMode="path">
  </c-sidebar-nav>
    </perfect-scrollbar>

</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light bg-opacity-50 dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="header header-sticky mb-1" position="sticky" sidebarId="sidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container [fluid]="true">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
