<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">
        <div class="card mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white"><strong>{{ 'guestsComp.manageGuests' | translate }}</strong></div>
            <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
          </div>
          <div class="card-body">
            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">
                <div class="row">
                  <div class="col-6"></div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="search" cFormControl placeholder="{{ 'guestsComp.search' | translate }}" />
                      <button cButton color="dark" type="button" variant="outline" (click)="openGuestModal()">
                        <svg [cIcon]="icons.cilPlus" title="{{ 'guestsComp.plusIcon' | translate }}"></svg> {{
                        'guestsComp.newGuest' | translate }}
                      </button>
                    </c-input-group>
                  </div>
                </div>
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'guestsComp.fatherName' | translate }}</th>
                      <th scope="col">{{ 'guestsComp.surName' | translate }}</th>
                      <th scope="col">{{ 'guestsComp.cin' | translate }}</th>
                      <th scope="col">{{ 'guestsComp.reason' | translate }}</th>
                      <th scope="col">{{ 'guestsComp.telNumber' | translate }}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let guest of guests">
                      <th scope="row">{{ guest._id }}</th>
                      <td>{{ guest.name }}</td>
                      <td>{{ guest.surname }}</td>
                      <td>{{ guest.cin }}</td>
                      <td>{{ guest.reason }}</td>
                      <td>{{ guest.telephoneNumber }}</td>

                      <td style="text-align:center;">
                        <button type="button" cButton color="light" (click)="detailGuest(guest)">
                          <svg [cIcon]="icons.cilInfo" width="15"
                            title="{{ 'guestsComp.detailIcon' | translate }}"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="editGuest(guest)">
                          <svg [cIcon]="icons.cilPencil" width="15"
                            title="{{ 'guestsComp.pencilIcon' | translate }}"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="openModalDelete(guest)">
                          <svg [cIcon]="icons.cilTrash" width="15"
                            title="{{ 'guestsComp.trashBinIcon' | translate }}"></svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>

<c-modal id="GuestModal" [visible]="visible" size="lg" (visibleChange)="handleGuestModalVisbilityChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{ 'guestsComp.newGuest' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="guestForm">
      <div class="row" *ngIf="page1">
        <div class="col-6">
          <div class="form-group mb-3">
            <label for="name">{{ 'guestsComp.name' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="name" id="name"
              placeholder="{{ 'guestsComp.name' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="surname">{{ 'guestsComp.surName' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="surname" id="surname"
              placeholder="{{ 'guestsComp.surName' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="cin">{{ 'guestsComp.cin' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="cin" id="cin"
              placeholder="{{ 'guestsComp.cin' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="documentNumber">{{ 'guestsComp.telNumber' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="telephoneNumber" id="birthDate"
              placeholder="{{ 'guestsComp.telNumber' | translate }}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <label for="cin">{{ 'guestsComp.reason' | translate }}:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="reason"
                id="flexRadioDefault1">
              <label class="form-check-label">
                Visitor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="reason"
                id="flexRadioDefault2" checked>
              <label class="form-check-label">
                Supplier
              </label>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="page2">
        <div class="row">
          <h3>Authorized Departments:</h3>
          <div class="form-check col-3" *ngFor="let department of departments">
            <input class="form-check-input" type="radio" [checked]="departmentExist(department.id)" (click)="selectDepartment(department.id)">
            <label class="form-check-label">
              {{department.name}}
            </label>
          </div>
          
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" [checked]="departments.length == selectedDepartments.length" (click)="selectAllDepartments()">
            <label class="form-check-label">
              All
            </label>
          </div>
        </div>
        <div class="row">
          <h3>Authorized Doors:</h3>
          <div class="form-check col-3" *ngFor="let door of doors">
            <input class="form-check-input" type="radio" [checked]="doorExist(door.id)" (click)="selectDoor(door.id)">
            <label class="form-check-label">
              {{door.name}}
            </label>
          </div>
          
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" [checked]="doors.length == selectedDoors.length" (click)="selectAllDoors()">
            <label class="form-check-label">
              All
            </label>
          </div>
        </div>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="danger">{{ 'guestsComp.close' | translate }}</button>
    <button *ngIf="page1" (click)="page1 = false ; page2 = true" cButton color="primary">Next</button>
    <button *ngIf="page2" (click)="page1 = true ; page2 = false" cButton color="primary">Previous</button>
    <button *ngIf="page2" (click)="submitAddModal()" cButton color="primary">{{ 'guestsComp.submit' | translate
      }}</button>
  </c-modal-footer>
</c-modal>