<c-container fluid>
    <c-row>
        <c-col lg="12">
            <div class="example">

                <div class="card  mt-4 mb-2">
                    <div class="card-header bg-white">
                        <div class="fs-2 fw-semibold bg-white "><strong>Manage Guests</strong></div>
                        <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
                    </div>
                    <div class="card-body">

                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane active show p-3 preview fade">

                                <div class="row">
                                    <div class="col-6">


                                    </div>
                                    <div class="col-6 mb-3">
                                        <c-input-group>
                                            <input aria-label="Search" cFormControl placeholder="Search" />

                                            <button cButton color="dark" type="button" variant="outline"
                                                (click)="openGuestModal()">
                                                <svg [cIcon]="icons.cilPlus" title="Plus Icon"></svg> New Guest
                                            </button>
                                        </c-input-group>
                                    </div>

                                </div>
                                <table cTable>
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">#</th>

                                            <th scope="col">Father name</th>
                                            <th scope="col">SurName</th>
                                            <th scope="col">cin</th>
                                            <th scope="col">Birthdate</th>
                                            <th scope="col">Birth place</th>
                                            <th scope="col">Mother name</th>
                                            <th scope="col">Occupation</th>
                                            <th scope="col">Actual address</th>
                                            <th scope="col">Cin delevery date</th>
                                            <th scope="col"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let guest of guests">
                                            <th scope="row">{{guest.id}}</th>
                                            <td>{{guest.fatherName}}</td>
                                            <td>{{guest.surname}}</td>
                                            <td>{{guest.cin}}</td>
                                            <td>{{guest.birthDate}}</td>
                                            <td>{{guest.birthPlace}}</td>
                                            <td>{{guest.motherName}}</td>
                                            <td>{{guest.occupation}}</td>
                                            <td>{{guest.actualAddress}}</td>
                                            <td>{{guest.cinDeliverDate}}</td>

                                            <td style="text-align:center;">
                                                <button type="button" cButton color="light"
                                                    (click)="detailGuest(guest)">
                                                    <svg [cIcon]="icons.cilInfo" width="15" title="detail Icon"></svg>

                                                </button> &nbsp;
                                                <button type="button" cButton color="light" (click)="editGuest(guest)">
                                                    <svg [cIcon]="icons.cilPencil" width="15" title="Pencil Icon"></svg>

                                                </button> &nbsp;
                                                <button type="button" cButton color="light"
                                                    (click)="openModalDelete(guest)">
                                                    <svg [cIcon]="icons.cilTrash" width="15"
                                                        title="Trash bin Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </c-col>
    </c-row>
</c-container>

<c-modal id="GuestModal" [visible]="visible" size="lg" (visibleChange)="handleGuestModalVisbilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>New Guest</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <form [formGroup]="guestForm">
            <div class="form-group mb-3">
                <label for="name">Father name:</label>
                <input type="text" class="form-control" cFormControl formControlName="fatherName" id="fatherName"
                    placeholder="Name">
            </div>
            <div class="form-group mb-3">
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" cFormControl formControlName="surname" id="surname"
                    placeholder="Surname">
            </div>
            <div class="form-group mb-3">
                <label for="birthDate">Cin:</label>
                <input type="number" class="form-control" cFormControl formControlName="cin" id="cin" placeholder="cin">
            </div>
            <div class="form-group mb-3">
                <label for="documentNumber">Birthdate:</label>
                <input type="text" class="form-control" cFormControl formControlName="birthDate" id="birthDate"
                    placeholder="Birthdate">
            </div>
            <div class="form-group mb-3">
                <label for="sex">Birth place:</label>
                <input type="text" class="form-control" cFormControl formControlName="birthPlace" id="birthPlace"
                    placeholder="Birth place">
            </div>
            <div class="form-group mb-3">
                <label for="nationality">Mother name:</label>
                <input type="text" class="form-control" cFormControl formControlName="motherName" id="motherName"
                    placeholder="Mother name">
            </div>
            <div class="form-group mb-3">
                <label for="expiryDate">occupation:</label>
                <input type="text" class="form-control" cFormControl formControlName="occupation" id="occupation"
                    placeholder="occupation">
            </div>
            <div class="form-group mb-3">
                <label for="personalData">Actual address:</label>
                <input type="text" class="form-control" cFormControl formControlName="actualAddress" id="actualAddress"
                    placeholder="Actual address">
            </div>
            <div class="form-group mb-3">
                <label for="MRZ1">Cin deliver date:</label>
                <input type="text" class="form-control" cFormControl formControlName="cinDeliverDate"
                    id="cinDeliverDate" placeholder="Cin deliver date">
            </div>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
        <button (click)="submitAddModal()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>

<c-modal id="viewGuestDetailsModal" [visible]="viewModalVisible">
    <c-modal-header>
        <h5 cModalTitle>Guest details</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

        <div class="container" *ngIf="selectedGuest">
            <div class="row">
                <div class="col-sm-12">
                    <p><strong>Father name:</strong> {{ selectedGuest.fatherName}}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Surname:</strong> {{ selectedGuest.surname }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>cin:</strong> {{ selectedGuest.cin }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Birthdate:</strong> {{ selectedGuest.birthDate }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Birth place:</strong> {{ selectedGuest.birthPlace }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Mother name:</strong> {{ selectedGuest.motherName }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Occupation:</strong> {{ selectedGuest.occupation }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Actual address:</strong> {{ selectedGuest.actualAddress }}</p>
                </div>
                <div class="col-sm-12">
                    <p><strong>Cin deliver date:</strong> {{ selectedGuest.cinDeliverDate }}</p>
                </div>

            </div>
            <!-- <div class="row">
          <div class="col-sm-12">
            <p><strong>Guest:</strong> Guest {{ camera.GuestId }}</p>
          </div>
        </div> -->
        </div>

    </c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
    </c-modal-footer>
</c-modal>

<c-modal id="viewGuestDeleteModal" [visible]="viewModalDeleteVisible">
    <c-modal-header>
        <h5 cModalTitle>Delete Confirmation</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

        <div class="container">
            <h5>Are you sure you want to delete?</h5>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <button (click)="viewModalDeleteVisible = false" cButton color="secondary">
          Close
        </button>
        <button (click)="deleteGuest()" class="text-white" cButton color="danger">Confirm</button>
      </c-modal-footer>
   
</c-modal>