<div class="container bg-white">
  <div class="row ">
    <div class="fs-2 fw-semibold text-center"><strong>Dashboard</strong></div>

    <div class="col-md-4 offset-md-2 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Users</button>
      </div>
    </div>
    <div class="col-md-4 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Profiles</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-1 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Monitoring</button>
      </div>
    </div>
    <div class="col-md-2 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">EasyTek ACS Management</button>
      </div>
    </div>
    <div class="col-md-2 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Guests</button>
      </div>
    </div>
    <div class="col-md-3 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Doors</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-2 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Devices</button>
      </div>
    </div>
    <div class="col-md-4 card-container">
      <div class="card">
        <button cButton color="dark" class="centered-button" type="button" variant="outline">Departments</button>
      </div>
    </div>
  </div>
</div>