<c-container fluid>
    <c-row>
        <c-col lg="12">
            <div class="example">

                <div class="card  mt-4 mb-2">
                    <div class="card-header bg-white">
                        <!-- <div class="fs-2 fw-semibold bg-white "><strong>Manage Users</strong></div> -->
                        <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
                    </div>
                    <div class="card-body">

                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane active show p-3 preview fade">

                                <div class="row">
                                    <div class="col-6">


                                    </div>
                                    <div class="col-6 mb-3">

                                    </div>

                                </div>

                                <table cTable>
                                    <thead class="table-dark logs">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Door</th>
                                            <th scope="col">Department</th>
                                            <th scope="col">Event</th>
                                            <th scope="col">View Profile</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="log-level" scope="row">20/11/2020 14:56:06</th>
                                            <td>Mark klar</td>
                                            <td>RD46</td>
                                            <td>Recherche et Développement</td>
                                            <td class="log-level error">Authentification failed</td>
                                            <td>
                                                <button type="button" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="log-level" scope="row">20/11/2020 14:56:06</th>
                                            <td>John Doe</td>
                                            <td>RD05</td>
                                            <td>Recherche et Développement</td>
                                            <td class="log-level success">Authentification succes</td>
                                            <td>
                                                <button type="button" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="log-level" scope="row">20/11/2020 14:56:06</th>
                                            <td>John Doe</td>
                                            <td>RD05</td>
                                            <td>Recherche et Développement</td>
                                            <td class="log-level success">Authentification succes</td>
                                            <td>
                                                <button type="button" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="log-level" scope="row">20/11/2020 14:56:06</th>
                                            <td>John Doe</td>
                                            <td>RD05</td>
                                            <td>Recherche et Développement</td>
                                            <td class="log-level success">Authentification succes</td>
                                            <td>
                                                <button type="button" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="log-level" scope="row">20/11/2020 14:56:06</th>
                                            <td>John Doe</td>
                                            <td>RD05</td>
                                            <td>Recherche et Développement</td>
                                            <td class="log-level success">Authentification succes</td>
                                            <td>
                                                <button type="button" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </c-col>
    </c-row>
</c-container>

<c-modal id="UserModal" [visible]="visible" (visibleChange)="handleUserModalVisbilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>New User</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>New User form Here</c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>


<c-modal id="viewUserDeleteModal" [visible]="viewModalDeleteVisible">
    <c-modal-header>
        <h5 cModalTitle>Delete Confirmation</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

        <div class="container">
            <h5>Are you sure you want to delete?</h5>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <button (click)="viewModalDeleteVisible = false" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" class="text-white" cButton color="danger">Confirm</button>
    </c-modal-footer>

</c-modal>