<c-container fluid>
    <c-row>
        <c-col lg="12">
            <div class="example">

                <div class="card  mt-4 mb-2">
                    <div class="card-header bg-white">
                        <!-- <div class="fs-2 fw-semibold bg-white "><strong>Manage Users</strong></div> -->
                        <c-breadcrumb-router class="sm-2"></c-breadcrumb-router>
                    </div>
                    <div class="card-body">

                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane active show p-3 preview fade">

                                <div class="row">
                                    <div class="col-6">


                                    </div>
                                    <div class="col-6 mb-3">

                                    </div>

                                </div>

                                <table cTable>
                                    <thead class="table-dark logs">
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Door</th>
                                            <th scope="col">Department</th>
                                            <th scope="col">Event</th>
                                            <th scope="col">View Profile</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr *ngFor="let log of logs">
                                            <th class="log-level" scope="row">{{log.Date}}</th>
                                            <td>{{log.Name}}</td>
                                            <td>{{log.Door}}</td>
                                            <td>{{log.Department}}</td>
                                            <td class="log-level error">{{log.Event}}</td>
                                            <td>
                                                <button type="button" (click)="viewProfile(log.Profile)" cButton color="light">
                                                    <svg [cIcon]="icons.cilUser" width="15" title="User Icon"></svg>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </c-col>
    </c-row>
</c-container>

<c-modal id="UserModal" [visible]="visible" (visibleChange)="handleUserModalVisbilityChange($event)">
    <c-modal-header>
        <h5 cModalTitle>New User</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>New User form Here</c-modal-body>
    <c-modal-footer>
        <button (click)="cancel()" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>


<c-modal id="viewUserDeleteModal" [visible]="viewModalDeleteVisible">
    <c-modal-header>
        <h5 cModalTitle>Delete Confirmation</h5>
        <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>

        <div class="container">
            <h5>Are you sure you want to delete?</h5>
        </div>

    </c-modal-body>
    <c-modal-footer>
        <button (click)="viewModalDeleteVisible = false" cButton color="secondary">
            Close
        </button>
        <button (click)="cancel()" class="text-white" cButton color="danger">Confirm</button>
    </c-modal-footer>

</c-modal>
<c-modal id="viewProfileDetailsModal" [visible]="viewProfileModelVisible">
    <c-modal-header>
      <h5 cModalTitle>Profile details</h5>
      <button (click)="cancel()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
  
      <div class="container" *ngIf="selectedProfile">
        <div class="text-center">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 150px;"
            alt="Avatar" />
        </div>
  
        <div class="row">
  
          <div class="col-sm-12">
            <p><strong>Name:</strong> {{ selectedProfile.name}}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Surname:</strong> {{ selectedProfile.surname }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Birthdate:</strong> {{ selectedProfile.birthDate }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Document number:</strong> {{ selectedProfile.documentNumber }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Sex:</strong> {{ selectedProfile.sex }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Nationality:</strong> {{ selectedProfile.nationality }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Expiry date:</strong> {{ selectedProfile.expiryDate }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Personal data:</strong> {{ selectedProfile.personalData }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>MRZ1:</strong> {{ selectedProfile.mrZ1 }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>MRZ2:</strong> {{ selectedProfile.mrZ2 }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>MRZ3:</strong> {{ selectedProfile.mrZ3 }}</p>
          </div>
          <div class="col-sm-12">
            <p><strong>Issue country:</strong> {{ selectedProfile.issueCountry }}</p>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-sm-12">
            <p><strong>Profile:</strong> Profile {{ camera.ProfileId }}</p>
          </div>
        </div> -->
      </div>
  
    </c-modal-body>
    <c-modal-footer>
      <button (click)="cancel()" cButton color="secondary">
        Close
      </button>
    </c-modal-footer>
  </c-modal>
  
