/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
// Here you can add other styles



  
// @import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";
@import "custom";


/* Import Space Mono font family */
@font-face {
    font-family: 'Space Mono';
    src: url('assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype'),
         url('assets/fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype'),
         url('assets/fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype'),
         url('assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Set font family for various elements */
  .logs {
    font-family: 'Space Mono', monospace;
  }
  