<c-container fluid>
  <c-row>
    <c-col lg="12">
      <div class="example">
        <div class="card  mt-4 mb-2">
          <div class="card-header bg-white">
            <div class="fs-2 fw-semibold bg-white "><strong>{{ 'profileComp.title' | translate }}</strong></div>
            <c-breadcrumb>
              <c-breadcrumb-item url="/">{{ 'menu.home' | translate }}</c-breadcrumb-item>
              <c-breadcrumb-item [active]="true">{{ 'menu.profiles' | translate }}</c-breadcrumb-item>
            </c-breadcrumb>
          </div>
          <div class="card-body">
            <div class="tab-content rounded-bottom">
              <div class="tab-pane active show p-3 preview fade">
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6 mb-3">
                    <c-input-group>
                      <input aria-label="Search" cFormControl
                        placeholder="{{ 'profileComp.searchPlaceholder' | translate }}" />
                      <button cButton color="dark" type="button" variant="outline" (click)="openProfileModal()">
                        <svg [cIcon]="icons.cilPlus" title="{{ 'profileComp.newProfileTitle' | translate }}"></svg> {{
                        'profileComp.newProfileButton' | translate }}
                      </button>
                    </c-input-group>
                  </div>
                </div>
                <!-- Profiles Table -->
                <table cTable>
                  <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">{{ 'profileComp.nameColumn' | translate }}</th>
                      <th scope="col">{{ 'profileComp.surnameColumn' | translate }}</th>
                      <th scope="col">{{ 'profileComp.cinColumn' | translate }}</th>
                      <th scope="col">{{ 'profileComp.occupationColumn' | translate }}</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let profile of profiles; let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{profile.name}}</td>
                      <td>{{profile.surname}}</td>
                      <td>{{profile.cin}}</td>
                      <td>{{ 'profileComp.occupationValue' | translate }}</td>
                      <td style="text-align:center;">
                        <button type="button" cButton color="light" (click)="detailProfile(profile)">
                          <svg [cIcon]="icons.cilInfo" width="15"
                            title="{{ 'profileComp.detailIconTitle' | translate }}"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="editProfile(profile)">
                          <svg [cIcon]="icons.cilPencil" width="15"
                            title="{{ 'profileComp.pencilIconTitle' | translate }}"></svg>
                        </button> &nbsp;
                        <button type="button" cButton color="light" (click)="openModalDelete(profile)">
                          <svg [cIcon]="icons.cilTrash" width="15"
                            title="{{ 'profileComp.trashIconTitle' | translate }}"></svg>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </c-col>
  </c-row>
</c-container>

<!-- Create/Update Profile Form Modal -->
<c-modal id="ProfileModal" [visible]="visible" size="lg" (visibleChange)="handleProfileModalVisbilityChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{ 'profileComp.newProfileTitle' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="profileForm">
      <div class="row" *ngIf="page1">
        <div class="col-6">
          <div class="form-group mb-3">
            <label for="name">{{ 'profileComp.nameLabel' | translate }}:</label>
            <input type="text" readonly class="form-control" cFormControl formControlName="name" id="name"
              placeholder="{{ 'profileComp.namePlaceholder' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="surname">{{ 'profileComp.surnameLabel' | translate }}:</label>
            <input type="text" readonly class="form-control" cFormControl formControlName="surname" id="surname"
              placeholder="{{ 'profileComp.surnamePlaceholder' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="cin">{{ 'profileComp.cinLabel' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="cin" id="cin"
              placeholder="{{ 'profileComp.cinLabel' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="occupation">{{ 'profileComp.occupationLabel' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="occupation" id="occupation"
              placeholder="{{ 'profileComp.occupationLabel' | translate }}">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-3">
            <label for="address">{{ 'profileComp.addressLabel' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="address" id="address"
              placeholder="{{ 'profileComp.addressLabel' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="telNumber">{{ 'profileComp.telNumberLabel' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="telephoneNumber" id="telNumber"
              placeholder="{{ 'profileComp.telephoneLabel' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="email">{{ 'profileComp.emailLabel' | translate }}:</label>
            <input type="text" class="form-control" cFormControl formControlName="email" id="email"
              placeholder="{{ 'profileComp.emailLabel' | translate }}">
          </div>
          <div class="form-group mb-3">
            <label for="documentNumber">{{ 'profileComp.documentNumberLabel' | translate }}:</label>
            <input type="text" readonly class="form-control" cFormControl formControlName="documentNumber"
              id="documentNumber" placeholder="{{ 'profileComp.documentNumberLabel' | translate }}">
          </div>
        </div>
      </div>
      <div *ngIf="page2">
        <!-- Authorized Departments -->
        <div class="row p-3">
          <h3>Authorized Departments:</h3>
          <div class="form-check col-3" *ngFor="let department of departments">
            <input class="form-check-input" type="radio" [checked]="departmentExist(department._id)"
              (click)="selectDepartment(department._id)">
            <label class="form-check-label">
              {{department.nameDepartment}}
            </label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" [checked]="selectedDepartments.length === 0"
              (click)="selectAllDepartments()">
            <label class="form-check-label">
              All
            </label>
          </div>
        </div>

        <!-- Authorized Doors -->
        <div class="row p-3">
          <h3>Authorized Doors:</h3>
          <div class="form-check col-3" *ngFor="let door of doors">
            <input class="form-check-input" type="radio" [checked]="doorExist(door._id)" (click)="selectDoor(door._id)">
            <label class="form-check-label">
              {{door.nameGate}}
            </label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" [checked]="selectedDoors.length === 0"
              (click)="selectAllDoors()">
            <label class="form-check-label">
              All
            </label>
          </div>
        </div>

      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="danger">{{ 'profileComp.closeButton' | translate }}</button>
    <button *ngIf="page1" (click)="page1 = false ; page2 = true" cButton color="primary">Next</button>
    <button *ngIf="page2" (click)="page1 = true ; page2 = false" cButton color="primary">Previous</button>
    <button *ngIf="page2" (click)="submitAddModal()" cButton color="primary">{{ 'profileComp.submitButton' | translate
      }}</button>
  </c-modal-footer>
</c-modal>

<!-- Profile Details -->
<c-modal id="viewProfileDetailsModal" [visible]="viewModalVisible">
  <c-modal-header>
    <h5 cModalTitle>{{ 'profileComp.profileDetailsTitle' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div class="container" *ngIf="selectedProfile">
      <div class="text-center">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 150px;"
          alt="Avatar" />
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.nameLabel' | translate }}:</strong> {{ selectedProfile.name}}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.surnameLabel' | translate }}:</strong> {{ selectedProfile.surname }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.cinLabel' | translate }}:</strong> {{ selectedProfile.cin }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.occupationLabel' | translate }}:</strong> {{ selectedProfile.occupation }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.addressLabel' | translate }}:</strong> {{ selectedProfile.address }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.telephoneLabel' | translate }}:</strong> {{ selectedProfile.telephoneNumber }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.emailLabel' | translate }}:</strong> {{ selectedProfile.email }}</p>
        </div>
        <div class="col-sm-12">
          <p><strong>{{ 'profileComp.documentNumberLabel' | translate }}:</strong> {{ selectedProfile.documentNumber }}
          </p>
        </div>
        <div class="col-sm-12">
          <p>
            <strong>{{ 'profileComp.departmentsLabel' | translate }}:</strong>
          </p>
          <ul>
            <li *ngFor="let department of selectedProfile.departments">{{ department.nameDepartment }}</li>
          </ul>
        </div>
        <div class="col-sm-12">
          <p>
            <strong>{{ 'profileComp.gatesLabel' | translate }}:</strong>
          </p>
          <ul>
            <li *ngFor="let gate of selectedProfile.gates">{{ gate.nameGate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="cancel()" cButton color="secondary">
      {{ 'profileComp.closeButton' | translate }}
    </button>
  </c-modal-footer>
</c-modal>

<!-- Profile Delete Modal -->
<c-modal id="viewProfileDeleteModal" [visible]="viewModalDeleteVisible">
  <c-modal-header>
    <h5 cModalTitle>{{ 'profileComp.deleteConfirmationTitle' | translate }}</h5>
    <button (click)="cancel()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>

    <div class="container">
      <h5>{{ 'profileComp.deleteConfirmationMessage' | translate }}</h5>
    </div>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="viewModalDeleteVisible = false" cButton color="secondary">
      {{ 'profileComp.closeButton' | translate }}
    </button>
    <button (click)="deleteProfile()" class="text-white" cButton color="danger">{{ 'profileComp.confirmButton' |
      translate }}</button>
  </c-modal-footer>
</c-modal>